.logInpage {
  width: 40%;
  margin: auto;
  padding: 2rem;
  border: 1px solid black;
  text-align: center;
}
h1{
    margin: 2rem;
}
input{
    margin: 0.5rem;
}

.registerPage {
  width: 40%;
  margin: auto;
  padding: 2rem;
  border: 1px solid black;
  text-align: center;
}
